<section class="fdb-block text-dark">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-md-8 text-center">
        <h1 class="font-weight-lighter pb-5">Edit Your Contact</h1>
        <p class="lead mb-5 text-dark font-weight-light">If you missed something, you can edit your information here!</p>
      </div>
    </div>
  </div>
</section>

<section class="fdb-block bg-dark text-light">
  <div class="container">
    <div class="row text-center">
      <div class="col-12">
        <h3>Made with <i class="fas fa-heart text-danger"></i> by <a class="alex-rusu" href="https://alex.dutylabs.ro"> Alex Rusu</a></h1>
      </div>
    </div>
  </div>
</section>

<%= render 'form', contact: @contact %>


