<section class="fdb-block bg-dark text-light">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-md-12">
        <h1 class="edit-your-post">Edit your contact</h1>
      </div>
    </div>
  </div>
</section>

<%= render 'form', contact: @contact %>

<%= link_to 'Show', @contact %> |
<%= link_to 'Back', contacts_path %>
