<section class="fdb-block text-dark pb-2">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col col-md-8 text-center">
        <h1 class="font-weight-lighter pb-5">Edit Your Contact</h1>
        <p class="lead mb-5 text-dark font-weight-light">If you missed something, you can edit your information here!</p>
      </div>
    </div>
  </div>
</section>


<%= render 'form', contact: @contact %>


