<section class="fdb-block bg-light text-dark">
  <div class="container">
    <div class="row text-center">
      <div class="col col-md-8 text-center">
        <h2>New Contact</h1>
      </div>
    </div>
  </div>
</section>

<%= render 'form', contact: @contact %>

<%= link_to 'Back', contacts_path %>
