/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
p{
    margin-bottom: 0rem !important;
}
table {
    border-collapse: collapse;
    border-radius: 1em;
    overflow: hidden;
}

section {
    background-color: #AED4E9 !important;
}
img {
    border-style: none;
    height: 280px;
    width: auto;
}
.btn-primary {
    color: #fff !important;
    background-color: #54C1AC !important;
    border-color: #54C1AC !important;
}
.btn-primary:hover {
    color: black !important;
    background-color: transparent !important;
    border-color: #54C1AC !important;
}
.thead {
    background-color: #54C1AC !important;
}
.fa-twitter:hover {
    background-color: transparent !important;
}
a:hover {
    background-color: transparent !important;
}
.nav {
    background-color: #AED4E9 !important
}
#contact_country {
    background-color: white;
}