%header
  %ul.nav.p-2.justify-content-end
    %li.nav-item
      = active_link_to 'HOME', contacts_path, class: 'nav-link active text-dark'
    %li.nav-item
      %a.nav-link.text-dark{:href => "#"} ABOUT
    %li.nav-item
      %a.nav-link.text-dark{:href => "#"} CONTACT